# Node
node_modules/

# Build
/dist/

# Ambiente Angular
/src/environments/environment*.ts

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDEs e editores
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# SO
.DS_Store
Thumbs.db

# Outras pastas temporárias
.angular/
coverage/

# Docker
*.local
.env
.env.*

# Outras configs
*.tgz
package-lock.json 